<% content_for :meta, meta_tags %>
<% content_for :content do %>

  <%= render_partial_for_region @subnavigation, 'position' if @subnavigation %>

  <div class="content_wrapper">
    <div class="hobbies_page_wrapper row index">
      <div class="col-xs-12">
        <div class='header'>
          <%= render_partial_for_region @content %>
        </div>

        <%= render_partial_for_region @first_gallery,  @page.slug == 'uvlecheniya' ? 'hobbies_page' : 'inner_gallery' %>
        <%= render_partial_for_region @second_gallery, 'hobbies_page' %>
        <%= render_partial_for_region @third_gallery, 'hobbies_page' %>
        <%= render_partial_for_region @fourth_gallery, 'hobbies_page' %>
        <%= render_partial_for_region @fifth_gallery, 'hobbies_page' %>
      </div>
    </div>
  </div>
<% end %>
