<% content_for :page_title, strip_tags(@site_name.content.body).squish %>
<% content_for :meta, meta_tags %>

<%= content_for :content do %>
  <% if false %>
  <div class='galleria-wrapper text-center'>
    <h2>С Новым годом!</h2>
    <% video = VideoInfo.new('https://youtu.be/QpzmGtxtQiI') %>
    <p class='visible-lg'>
      <%= video.embed_code(iframe_attributes: { width: 800, height: 450 }).html_safe %>
    </p>
    <p class='visible-md'>
      <%= video.embed_code(iframe_attributes: { width: 600, height: 337 }).html_safe %>
    </p>
    <p class='visible-sm'>
      <%= video.embed_code(iframe_attributes: { width: 400, height: 225 }).html_safe %>
    </p>
    <p class='visible-xs'>
      <%= video.embed_code(iframe_attributes: { width: 400, height: 225 }).html_safe %>
    </p>
  </div>
  <% end %>

  <% if Time.zone.now >= Time.zone.parse('2017-04-25 17:45') %>
    <div class='row'>
      <div class='col-xs-12'>
        <div class='hidden-xs text-center margin-right-86 margin-bottom-30 margin-left-76'>
          <%= link_to '/ru/uvlecheniya/dom-v-kotorom-my-zhivem' do %>
            <%= image_tag 'fotovystavka-lg.jpg', size: '1110x509',
              alt: 'Дом, в котором мы живем!',
              class: 'img-responsive' %>
          <% end %>
        </div>
        <div class='visible-xs text-center margin-top-20 margin-right-15 margin-left-15'>
          <%= link_to '/ru/uvlecheniya/dom-v-kotorom-my-zhivem' do %>
            <%= image_tag 'fotovystavka-xs.jpg', size: '740x339',
              alt: 'Дом, в котором мы живем!',
              class: 'img-responsive' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <%= render_partial_for_region @gallery_of_honor, 'main_page' %>

  <div class='row'>
    <div class='col-lg-5 col-xs-12 col-md-5 col-sm-5'>
      <%= render_partial_for_region @news, 'main_page' %>
    </div>

    <div class='col-lg-7 col-xs-12 col-md-7 col-sm-7'>
      <div class='quotes_wrapper'>
        <div class='quote_l'>"</div>
        <p class='quote js-quote'>
          Всегда беру себе высокопрофессиональных и умных замов, которые на своем направлении знают больше, чем я. Можно, конечно, пригласить таких, которые будут только поддакивать – но инициатива должна идти не сверху вниз, а наоборот
          <span class='quote_r'>"</span>
        </p>
        <div class='sign'></div>

        <div class='js-quotes-list quotes-list'>
          <%= raw @slogan.content.body %>
        </div>
      </div>
    </div>
  </div>
<% end %>
