<% content_for :page_title, strip_tags(object.title).squish %>
<% content_for :meta do %>
  <meta name='description' content='<%= strip_tags(object.annotation) %>' />
  <meta name='og:description' content='<%= strip_tags(object.annotation) %>' />
  <% if object.images.any? %>
    <meta property='og:image' content='<%= object.images.first.url %>'/>
  <% end %>
<% end %>

<div class="news_item_wrapper">
  <div class="row item" itemscope itemtype="http://schema.org/Article">
    <div class="col-sm-2 hidden-xs date"><%= l Date.parse(object.since), :format => :custom %></div>
    <div class="col-xs-12 col-sm-10 entry index">
      <div class="title" itemprop="name">
        <%= strip_tags(object.title) %>
        <p class='visible-xs date' itemprop="datePublished" content="<%= l(Date.parse(object.since), :format => '%Y-%m-%d')  %>">
          <%= l Date.parse(object.since), :format => :custom  %>
        </p>
      </div>

      <div class="text" itemprop="articleBody">
        <%= object.annotation.to_s.html_safe %>
        <%= object.body.to_s.html_safe %>
      </div>

      <div class="images row">
        <% if object.images.any? %>
          <% object.images.each do |photo| %>
            <div class="col-xs-6 col-md-3">
              <%= link_to photo.url, :class => 'thumbnail js-colorbox', :rel => 'colorbox' do %>
                <%= image_tag (photo.thumbnail.try(&:url).try(:sub, /\d+-\d+/,"230-230!n") || photo.url), :class => 'img-responsive' %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= render :partial => 'social_links' %>
    </div>
  </div>
</div>
