<div class="video_page_wrapper">
  <div class="header">
    <h1>
      <%= @page.title %>
      <%= link_to object.rss_link, :target => '_blank', :class => :link_to_rss do %>
        <span class='fa fa-rss-square'></span>
      <% end %>
    </h1>
  </div>

  <div class="row video_item">
    <% object.items.each do |video| %>
      <% youtube = youtube_object(video.annotation) %>

      <div class="col-xs-6 col-md-3 item">
        <%= link_to video.link, :class => 'thumbnail' do %>
          <%= image_tag youtube.thumbnail_medium, :size => '320x180', :class => 'img-responsive', :alt => video.title %>

          <div class="title">
            <%= video.title %>
          </div>
        <% end %>

        <div class='date'><%= l Date.parse(video.since), :format => :custom %></div>
      </div>
    <% end %>
  </div>

  <% if object.pagination %>
    <% @array = object.items %>
    <% @array = Kaminari.paginate_array(@array, :total_count => object.pagination.total_count).page(object.pagination.current_page).per(object.pagination.per_page) %>
    <%= paginate @array, :outer_window => 3 %>
  <% end %>
</div>
