<% content_for :page_title, strip_tags(object.title).squish %>

<% youtube = youtube_object(object.annotation) %>
<% content_for :meta do %>
  <meta name='description' content='<%= strip_tags(object.body) %>' />
  <meta name='og:description' content='<%= strip_tags(object.body) %>' />
  <meta property='og:image' content='<%= youtube.thumbnail_large %>'/>
<% end %>

<% content_for :video_info do %>
  <h1 class='video_title'><%= object.title %></h1>

  <div class='video_text'>
    <%= object.body.to_s.html_safe %>
  </div>

  <div class='date pull-right'><%= l Date.parse(object.since), :format => :custom %></div>
  <div class='date'>
    <%= render :partial => 'social_links' %>
  </div>
<% end %>

<div class='video_page_wrapper item_part index'>
  <div class='row item'>
    <div class='col-lg-6 entry col-xs-12'>
      <iframe width='480' height='360' src='<%= youtube.embed_url %>' allowfullscreen='' class='hidden-xs'></iframe>
      <%= link_to youtube.embed_url, :class => 'visible-xs' do %>
        <%= image_tag youtube.thumbnail_medium, :class => 'img-responsive', :size => '320x180', :alt => object.title %>
      <% end %>
    </div>

    <div class='video_info hidden-lg col-xs-12'>
      <%= yield :video_info %>
    </div>

    <div class='col-lg-6 mlt col-xs-12'>
      <h4 class='visible-xs'>Еще видео</h4>
      <% object.more_like_this.each do |mlt| %>
        <% youtube = youtube_object(mlt.annotation) %>

        <div class='row mlt-item'>
          <div class='col-sm-3 hidden-xs image text-center'>
            <%= image_tag youtube.thumbnail_small, :class => 'img-responsive', :size => '120x90', :alt => mlt.title %>
          </div>

          <div class='col-xs-12 col-sm-9'>
            <div class='title_and_date'>
              <span class='pull-left title'>
                <%= link_to mlt.title, mlt.link %>
              </span>
              <span class='pull-right date'>
                <%= l Date.parse(mlt.since), :format => :custom %>
              </span>
            </div>

            <div class='text'>
              <%= truncate_html mlt.body.to_s.html_safe, :length => 180 %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class='row video_info visible-lg'>
    <div class='col-xs-12'>
      <%= yield :video_info %>
    </div>
  </div>

</div>
