<!DOCTYPE html>
<html>
  <head>
    <title><%= site_title(content_for?(:page_title) ? yield(:page_title).squish.html_safe : @page_title) %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <%= favicon_link_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= yield :meta %>
    <%= csrf_meta_tags %>
    <% if entry_date %>
      <meta name='entry_date' content='<%= entry_date %>'>
    <% end %>
    <%= render :partial => 'metrika' if Rails.env.production? %>
  </head>
  <body>
    <div class="body container-fluid">
      <div class="container main_container">
        <!-- top logotype -->
        <div class="top_header row hidden-xs">
          <div class="col-xs-12">
            <%= link_to 'Главная', '/', :class => 'background big', :title => 'Официальный сайт губернатора томской области Сергея Жвачкина' %>
          </div>
        </div>

        <div class="white_wrapper">
          <!-- content -->
          <div class="row">
            <!-- navigation && search -->
            <div class="col-xs-12 main_navigation <%= params[:path].try(:split, '/').try(:[], 1) %>">
              <nav class='navbar navbar-default'>
                <div class="navbar-header visible-xs">
                  <a class="navbar-brand" href="/">
                    <%= image_tag 'logo_small.png', :size => '45x45' %>
                  </a>

                  <div class="search-wrapper visible-xs">
                    <%= form_tag '/ru/search', :method => :get, :class => ['pull-left', 'search_form'] do %>
                      <input type='search' placeholder='Поиск...' name='parts_params[search][q]' value='<%= params[:parts_params].present? && params[:parts_params][:search].present? ? params[:parts_params][:search][:q] : nil %>'>
                    <% end %>
                  </div>

                  <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <%= render_partial_for_region @main_navigation, 'main' %>
              </nav>

              <div class="pull-right search-wrapper hidden-xs">
                <%= link_to 'Твиттер Сергея Жвачкина', 'https://twitter.com/governoroftomsk', :class => ['twitter_icon', 'pull-left'], :target => :_blank, :alt => 'твиттер губернатора Жвачкина' %>
                <%= form_tag '/ru/search', :method => :get, :class => ['pull-left', 'search_form'] do %>
                  <input type='search' placeholder='Поиск...' name='parts_params[search][q]' value='<%= params[:parts_params].present? && params[:parts_params][:search].present? ? params[:parts_params][:search][:q] : nil %>'>
                <% end %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <%= yield(:content) %>
            </div>
          </div>
        </div>

        <div class="row footer_wrapper">
          <div class="slide-up js-slide-up">
            <i class="fa fa-arrow-circle-up"></i>
          </div>

          <div class="col-xs-12 footer">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class='pull-left'>
                  <p>
                    © Сергей Жвачкин,  2015.
                  </p>
                  <p>
                    Ваши идеи и предложения по развитию Томской области можно направлять по почте <%= mail_to 'idea@tomsk.gov.ru' %>
                </p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class='pull-right'>
                <p>
                  Фото: Валерий Доронин
                </p>
                <p class='second'>
                  Игорь Крамаренко
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <% if Rails.env.development? %>
      <div class="development hidden-xs">
        <%= link_to 'JSON', @link_to_json, :class => 'json', :target => :_blank %>
      </div>
    <% end %>

  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>
